<% content_for :title do %>About<% end %>
<h3>About foobar kardigan</h3>
<p> He was born in wakamita, New Zealand. He left....</p>
<p>His favorite quotation is...</p>
<p>Some more text and more and more and more</p>


